.suite-thead {
    text-align: left;
}

.greyBkLo {
  background-color: #dddddd;
}
.successBkLo {
  background-color: #d4ffc0;
}
.failBkLo {
  background-color: #ffcccc;
}
.seldiffBkLo, .acceptBkLo {
  background-color: #ffffc0;
}
.exceptionBkLo {
  background-color: #f0d0f4;
}

.greyBkHi {
  background-color: #eeeeee;
}
.successBkHi {
  background-color: #e0ffdc;
}
.failBkHi {
  background-color: #ffdcdc;
}
.seldiffBkHi, .acceptBkHi {
  background-color: #ffffd8;
}
.exceptionBkHi {
  background-color: #f4dcf8;
}

.sel {
  color: blue;
}

.txt {
  padding: 1px;
  margin: 1px;
  border: 1px solid #b0b0b0;
}

.idLabel {
  font-size: small;
}

.fade {
  color: grey;
}
.accexp {
  color: #606070;
}
.comment {
  color: grey;
}

.score {
  color: #666666;
}

gen::before {
  content: "[BEFORE]";
}
gen::after {
  content: "[AFTER]";
}
