.legend {
  vertical-align: top;
  margin: 8px;
  border: 1px solid black;
  padding: 12px;
  background-color: #f8f8ff;
}

.legendHdr {
  font-size: large;
  text-decoration: underline;
}

table.legend {
  display: inline-table;
}

.suite-thead {
  text-align: left;
}

.greyBkLo, .naBkLo {
  background-color: #dddddd;
}
.passBkLo {
  background-color: #d4ffc0;
}
.canaryBkLo {
  background-color: #ffcccc;
}
.failBkLo {
  background-color: #ffcccc;
}
.acceptBkLo {
  background-color: #ffffc0;
}
.exceptionBkLo, .unsupportedBkLo {
  background-color: #f0d0f4;
}

.greyBkHi, .naBkHi {
  background-color: #eeeeee;
}
.passBkHi {
  background-color: #e0ffdc;
}
.canaryBkHi {
  background-color: #ffd8d8;
}
.failBkHi {
  background-color: #ffd8d8;
}
.acceptBkHi {
  background-color: #ffffd8;
}
.exceptionBkHi, .unsupportedBkHi {
  background-color: #f4dcf8;
}


.sel {
  color: blue;
}

.txt {
  padding: 1px;
  margin: 1px;
  border: 1px solid #b0b0b0;
}

.idLabel {
  font-size: small;
}

.fade {
  color: grey;
}
.accexp {
  color: #606070;
}
.comment {
  color: grey;
}

.score {
  color: #666666;
}

.fatalerror {
  color: red;
  font-size: large;
  font-weight: bold;
}

