{% extends "base.html" %}
{% block title %}Network Tester{% endblock %}
{% block style %}
<style>
{{ today_style|safe }}
#tests A { border: 1px solid; padding-left: 4px; padding-right: 4px;
    margin-left: 4px; margin-right: 4px; text-decoration: none;
    background: #FFF; }
#tests A:hover { background: #FEE19E; }
BODY { background: #EEE; }
#results { margin-left: 20px; margin-top: 10px; background: #FFF; padding: 8px; border: 2px solid #333; display: none; }
</style>
{% endblock %}

{% block body %}
<div class=contents>

<table border=0 cellpadding=0 cellspacing=0>
  <tr>
    <td valign=top>
<div id=tests style="margin-top: 10px; margin-bottom: 10px;">
{% for test in tests %}
  <a id=test{{ forloop.counter0 }} target=testframe title="{{ test.name }}"
     onclick="doTestClick({{ forloop.counter0 }}); return false;"
     href="{{ test.url }}?t={{ epoch }}">{{ forloop.counter }}</a>
{% endfor %}
</div>
<input id=startstop type=button value="{% if autorun %}Stop{% else %}Start{% endif %}" onclick="startstop()">
    </td>
    <td valign=top>
<div id=results></div>
    </td>
  </tr>
</table>

<script src="/static/util.js"></script>
<script src="/static/beacon.js"></script>
<script>
var giCurTest = 0;  // zero-based
var gbStop = false;
var gaResults = {};
var sTests = "";
var gsTests = {
{% for test in tests %}
{{ test.key }}: ["{{ test.name }}", "{{ test.score_type }}"],
{% endfor %}
end: 0
};

function startstop() {
	var btn = document.getElementById('startstop');
	if ( btn ) {
		if ( "Start" == btn.value ) {
			btn.value = "Stop";
			doStart();
		}
		else {
			btn.value = "Start";
			doStop();
		}
	}
}

function doTestClick(iTest) {
	doStop();
	giCurTest = iTest;
	doTest(iTest)
}

function saveResult(name, value) {
	gaResults[name] = value;
	document.getElementById('results').innerHTML = (giCurTest + 1) + ". " + gsTests[name][0] +
		" = " + ( "boolean" == gsTests[name][1] ? ( 0 == value ? "no" : "yes" ) : value ) + "<br>" + document.getElementById('results').innerHTML;
	document.getElementById('test' + giCurTest).style.backgroundColor = "#C6E87D";
	if (!gbStop) {
		doNextTest();
	}
}

function doNextTest() {
	if (giCurTest + 1 < {{ tests|length }}) {
		setTimeout("doTest(" + (giCurTest + 1) + ")", 2000);
	} else {
		// Send results beacon.
		var testResults = [];
		for (var test in gaResults) {
			if (gaResults.hasOwnProperty(test)) {
				testResults.push(test + '=' + gaResults[test]);
			}
		}
		var uriParams = "category=network&results=" + testResults.join(',') +
			"&csrf_token={{ csrf_token }}";
		var beacon = new Beacon(uriParams);
		beacon.onComplete = function() {
			var continueUrl = Util.getParam('continue');
			var results = 'network_results=' + testResults.join(',');
			var nextUrl;
			if (continueUrl != '') {
				nextUrl = continueUrl + '&' + results;
			} else {
				nextUrl = '/?' + results;
			}
			window.top.location.href = nextUrl;
		};
		beacon.send();
	}
}

function doTest(iTest) {
	giCurTest = iTest;
	document.getElementById('test' + iTest).style.backgroundColor = "#F2FA6B";
	parent.testframe.location = document.getElementById('test' + giCurTest).href;
}

function doStart() {
	document.getElementById('results').style.display = "block";
	gbStop = false;
	doTest(giCurTest);
}

function doStop() {
	gbStop = true;
}

// Start the first test.
if ( Util.getParam("autorun") ) {
	doStart();
}
</script>

</div><!-- contents -->

{% endblock %}
