{% extends "base.html" %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <p>
    The HTML5 test is a collection put together by Niels Leenheer and hosted
    on his website <a href="http://rakaz.nl/">rakaz.nl</a>.
  </p>
  <p>
    Niels is using
    the User Test feature of browserscope to store the results, and because
    they are so compelling, they are now shown as a Browserscope category and
    factored into the Summary results.
  </p>

  <iframe
    src="http://rakaz.nl/2010/06/html5-test-updated-how-well-does-your-browser-support-html5-now.html"
    width="80%"
    height="400"></iframe>

  <div>
    <em>http://rakaz.nl/2010/06/html5-test-updated-how-well-does-your-browser-support-html5-now.html</em>
  </div>

{% endblock %}
