<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Tables w/ table-layout: {{table_layout}} nested {{nmm_nest}} deep</title>
    <style>
      @import "/css/reflow/table_ratios.css";
      .g-section {
        table-layout: {{table_layout}}
      }
    </style>
  </head>
  <body>
    <input id="csrf_token" type="hidden" value="{{ csrf_token }}">
    <input id="rt-params" type="hidden" value="{{ params|urlencode }}">
    <a href="/tests/index.html">Tests Home</a>
    <div id="g-content">
      {% for template in templates %}
        <h2>{{template}}</h2>
        {% include "reflow/table.html" %}
      {% endfor %}
    </div>
  </body>
</html>

