{% extends "simple.html" %}

{% block head %}

<style>
#g-content {
  border: 3px solid #000;
  padding: 5px;
}
</style>

<script src="{{ "js/reflow_timer_build.js"|resource_path:"reflow" }}"></script>
<script>
function runTest() {
  var btn = document.getElementById('rt-runtest');
  if (btn) {
    btn.disabled = true;
  }
  ReflowTimer.SERVER = '{{ server }}';
  var el = document.getElementById('g-content');
  {% if test %}
    var t = new ReflowTimer(false, el);
    t.tests = ['{{ test.key }}'];
    t.renderResults = true;
    t.onTestsComplete = function(results) {
      if (btn) {
        btn.disabled = false;
      }
    };
  {% else %}
    var t = new ReflowTimer(true, el);
    t.renderResults = false;
    t.onBeaconComplete = function() {
      var continueUrl = unescape(Util.getParam('continue'));
      var results = 'reflow_results=' + t.results.join(',');
      var nextUrl;
      if (continueUrl != '') {
        nextUrl = continueUrl + '&' + results;
      } else {
        nextUrl = '/?' + results;
      }
      // TODO(elsigh): this won't scale.
      var network_results = Util.getParam('network_results');
      if (network_results) {
        nextUrl = nextUrl + '&network_results=' + network_results;
      }
      window.location.href = nextUrl;
    }
  {% endif %}
  t.run();
}
</script>
{% endblock %}


{% block body %}
<input id="rt-params" type="hidden" value="{{ params }}">
<input id="csrf_token" type="hidden" value="{{ csrf_token }}">
<h1>{{ page_title }}</h1>

<script src="http://www.google.com/jsapi"></script>
<script>
  var addCss, cssNode;
  google.load('dojo', '1.3.2');
  google.setOnLoadCallback(function() {
    addCss = function(type) {
      if (cssNode) {
        cssNode.disabled = true;
        cssNode.parentNode.removeChild(cssNode);
        alert('gone with the old node!');
      }
      if (type == 'star') {

      }
      dojo.xhrGet({
        url: '/reflow/test_gen_css',
        handleAs: 'text',
        load: function(response, ioArgs) {
          alert('got the css');
          cssNode = Util.addCssText(response);
          alert('in there');
        },
        error: function(response, ioArgs) {
          alert('HTTP status code: ' +  ioArgs.xhr.status);
          return response;
        }
      });
    };
  });
</script>
<button onclick="addCss('star')">Add Star Selector Css</button>

{% if autorun %}
  <p>
    Autorunning the Reflow tests ... <br>
    Please wait while until all the tests are completed. At the end, your results will be sent back and automatically incorporated into the public result set.
  </p>
{% else %}
  <p>
    <button id="rt-runtest" onclick="runTest();" class="bs-runtest">
      {% if test %}
        Run the test - {{ test.label }}
      {% else %}
        Start
      {% endif %}
    </button>
  </p>
  <p>
    {% if test %}
      Learn more about the <a href="/reflow/about#rt-{{ test.key }}">{{ test.name }} test</a>.
    {% else %}
      Clicking the button will run <a href="/reflow/about#rt-tests">each of the reflow tests</a> on the thick-bordered element below.
    {% endif %}
  </p>
{% endif %}


<div id="g-content">
  {% for num_element in num_elements|as_range %}
    {% for nest in num_nest|as_range %}<div>{% endfor %}
      <p id="g-{{num_element}}">
        <a href="#" class="g-nest-{{nest}}">
          {{ num_element }}
        </a>
      </p>
    {% for nest in num_nest|as_range %}</div>{% endfor %}
  {% endfor %}
</div>


<script>
  {% if autorun %}
    runTest();
  {% else %}
    document.getElementById('rt-runtest').disabled = false;
  {% endif %}
</script>
{% endblock %}

