{% extends "base.html" %}

{% block body %}

<script defer>
function confirmAll() {
  for (var i=1; i <= {{ user_agents|length }}; i++) {
    var action = document.getElementsByName('action_' + i);
    if (action[0].checked) {
      action[1].checked = true;
    }
  }
}

function updateChangeTextBox(ua_id, browser) {
  var ch = document.getElementsByName('action_' + ua_id)[2];
  var ch_text = document.getElementById("cht_" + ua_id);
  if (ch.checked) {
    if (!ch_text) {
      var ch_text = document.createElement("input");
      ch_text.setAttribute("id", 'cht_' + ua_id);
      ch_text.setAttribute("type", 'text');
      ch_text.setAttribute("name", 'tb_' + ua_id);
      ch_text.setAttribute("value", browser);
      ch.parentNode.appendChild(ch_text);
    }
  } else if (ch_text) {
    ch_text.parentNode.removeChild(ch_text);
  }
}

{% if 0 %}
{% for user_agent in user_agents %}
var uasc_script{{ forloop.counter}} = document.createElement('script');
var uasi_script{{ forloop.counter}} = document.createElement('script');
uasc_script{{ forloop.counter}}.src = 'http://stevesouders.com/ua/parse-service.php?service=useragentstringcom&id=uasc_{{ forloop.counter }}&ua={{ user_agent.string|urlencode }}';
uasi_script{{ forloop.counter}}.src = 'http://stevesouders.com/ua/parse-service.php?service=user-agent-string-info&id=uasi_{{ forloop.counter }}&ua={{ user_agent.string|urlencode }}';
document.getElementsByTagName('head')[0].appendChild(uasc_script{{ forloop.counter}});
document.getElementsByTagName('head')[0].appendChild(uasi_script{{ forloop.counter}});
{% endfor %}
{% endif %}

</script>

<form>
<table style="margin: 1ex; padding: 1ex; border: 2px solid #AAA" cellspacing=0 cellpadding=0>
<tr>
<td>Browser: </td><td><input type=text name=browser value="{{ search_browser }}"></td>
<td rowspan=2>&nbsp;</td>
<td rowspan=2><label for="unconfirmed">
  <input name=unconfirmed id=unconfirmed type=checkbox{% if search_unconfirmed %} checked{% endif %}> unconfirmed<br>
</label>
<label for="confirmed">
  <input name=confirmed id=confirmed type=checkbox{% if search_confirmed %} checked{% endif %}> confirmed<br>
</label>
<label for="changed">
  <input name=changed id=changed type=checkbox{% if search_changed %} checked{% endif %}> changed
</label>
</td>
<td rowspan=2>&nbsp;</td>
<td rowspan=2><input type=submit value="Search User Agents"></td>
</tr>
<tr>
<td>User Agent: </td><td><input type=text name=useragent value="{{ search_useragent }}"></td>
</tr>
</table>
</form>
<div>

<style>
.user-agents { border-collapse: collapse; }
.user-agents th, .user-agents td { padding: 5px; }
.user-agents th { text-align: left; }
th.action-icon { text-align: center; }
.uamatch { background-color: #CFA;}
</style>

<form id=ua-form>
<p>
<table class="user-agents" border=1>
<tr><td colspan=8><b>User Agents</b><br>
<small><a href="" onclick="confirmAll(); return false;">confirm all</a>
- <a href="">reset</a></small>
</td></tr>
<tr>
  <th class=action-icon>?</th>
  <th class=action-icon>&#10004;</th>
  <th>Change</th>
  <th class=action-icon><img width=13 height=13 alt=Delete src="http://www.google.com/reader/ui/2513649784-icon-unsubscribe.png"></th>
  <th>Parsed Browser</th>
  <th><small>useragentstring.com</small></th>
  <th><small>user-agent-string.info</small></th>
  <th>User Agent</th>
</tr>
{% for user_agent in user_agents %}
<tr>
  <td><input name=action_{{ forloop.counter }} value=unconfirm
    type=radio {% if not user_agent.confirmed %} checked{% endif %}
    onclick="updateChangeTextBox('{{ forloop.counter }}');"></td>
  <td><input name=action_{{ forloop.counter }} value=confirm
    type=radio {% if user_agent.confirmed %} checked{% endif %}
    onclick="updateChangeTextBox('{{ forloop.counter }}');"></td>
  <td nowrap=1><input name=action_{{ forloop.counter }} value=change
    type=radio
    onclick="updateChangeTextBox('{{ forloop.counter }}', '');"></td><!--TODO put changed value as last parameter and possibly add 'checked'-->
  <td><input name=action_{{ forloop.counter }} value=delete
    type=radio onclick="updateChangeTextBox('{{ forloop.counter }}');"></td>
  <td nowrap=1>{{ user_agent.pretty }}</td>
  <td nowrap=1 id=uasc_{{ forloop.counter }}><!-- TODO port parse service to GAE --></td>
  <td nowrap=1 id=uasi_{{ forloop.counter }}><!-- TODO port parse service to GAE --></td>
  <td>{% for is_match, substring in user_agent.match_strings %}{% if is_match %}<span class='uamatch'>{% endif %}{{ substring}}{% if is_match %}</span>{% endif %}{% endfor %}</td>
</tr>
{% endfor %}
</table>

<small><a href="">confirm all</a>
- <a href="">reset</a></small>
<p>

<input type=submit value="Submit">
</form>


{% endblock %}
