<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
  <title>New Rich Text Tests</title>

  <link rel="stylesheet" href="static/common.css" type="text/css">

  <!-- utility scripts -->
  <script src="static/js/variables.js"></script> 

  <script src="static/js/canonicalize.js"></script> 
  <script src="static/js/compare.js"></script> 
  <script src="static/js/output.js"></script> 
  <script src="static/js/pad.js"></script> 
  <script src="static/js/range.js"></script> 
  <script src="static/js/units.js"></script> 

  <script src="static/js/run.js"></script> 

  <!-- new tests -->
  <script type="text/javascript">
    {% autoescape off %}
    var True = true;
    var False = false;
    var commonIDPrefix = '{{ commonIDPrefix }}';
    {% for s in suites %}
    var {{ s.id }}_TESTS = {{ s }};
    {% endfor %} 
    
    /**
     * Runs all tests in all suites.
     */
    function runTests() {
      initEditorDoc();

      // The test suites to be run.
      {% for s in suites %}
      runTestSuite({{ s.id }}_TESTS);
      {% endfor %}

      // Remove testing IFrame once all tests have finished.
      var e = document.getElementById('editor');
      e.parentNode.removeChild(e);

      var continueParams = [
        'selection='        + scoresStrict['S'].total,
        'apply='            + scoresPartial['A'].total,
        'applySel='         + scoresStrict['A'].total,
        'applyCSS='         + scoresPartial['AC'].total,
        'applyCSSSel='      + scoresStrict['AC'].total,
        'unapply='          + scoresPartial['U'].total,
        'unapplySel='       + scoresStrict['U'].total,
        'unapplyCSS='       + scoresPartial['UC'].total,
        'unapplyCSSSel='    + scoresStrict['UC'].total,
        'change='           + scoresPartial['C'].total,
        'changeSel='        + scoresStrict['C'].total,
        'changeCSS='        + scoresPartial['CC'].total,
        'changeCSSSel='     + scoresStrict['CC'].total,
        'delete='           + scoresPartial['D'].total,
        'deleteSel='        + scoresStrict['D'].total,
        'forwarddelete='    + scoresPartial['FD'].total,
        'forwarddeleteSel=' + scoresStrict['FD'].total,
        'insert='           + scoresPartial['I'].total,
        'insertSel='        + scoresStrict['I'].total,
        'querySupported='   + scoresPartial['Q'].total,
        'queryEnabled='     + scoresPartial['QE'].total,
        'queryInd='         + scoresPartial['QI'].total,
        'queryState='       + scoresPartial['QS'].total,
        'queryStateCSS='    + scoresPartial['QSC'].total,
        'queryValue='       + scoresPartial['QV'].total,
        'queryValueCSS='    + scoresPartial['QVC'].total
      ];
// removed (until we determine they are necessary):
//        'queryEnabledCSS='  + scoresPartial['QEC'].total,
//        'queryIndCSS='      + scoresPartial['QIC'].total,
      parent.sendScore(beacon, continueParams);
    }
    {% endautoescape %}
  </script>  
</head> 

<body onload="runTests()">
  {% include "richtext2/templates/output.html" %}
  <hr>
  <iframe name="editor" id="editor" src="static/editable.html"></iframe>
</body> 
</html> 