{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>
  <p>
    This is a test suite for the <a href="http://dev.w3.org/2006/webapi/selectors-api/">W3C CSS Selectors API</a> written by <a href="http://ejohn.org/">John Resig</a> of Mozilla and jQuery fame.
  </p>

  <h2>John Resig's July, 10, 2008 Blog Post announcing the Selectors API tests:</h2>
  <iframe
    src="http://ejohn.org/blog/implementing-a-selectors-api-test-suite/"
    width="80%"
    height="400"></iframe>

{% endblock %}
