{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <a href="/selectors/test" class="bs-btn">Go to the Selector API Tests</a>

  <h2>What are the Selectors API Tests?</h2>
  <p>
    This is a test suite for the <a href="http://dev.w3.org/2006/webapi/selectors-api/">W3C CSS Selectors API.</a>
  </p>

  <h2>John Resig's July, 10, 2008 Blog Post announcing the Selectors API tests:</h2>
  <iframe
    src="http://ejohn.org/blog/implementing-a-selectors-api-test-suite/"
    width="80%"
    height="400"></iframe>

{% endblock %}
