{% extends "testdriver_base.html" %}

{% block body %}
  <iframe
    id="bs-test-iframe"
    onload="Util.fixIframeLinks('{{ app_category }}');{% if autorun %}runTest();{% endif %}"
    name="{{ app_category }}"
    height="700px"
    width="100%"
    frameborder="0"
    src="static/{{ app_category }}.html"></iframe>

  <script>
    var runTest = function() {
      document.getElementById('bs-runtest').disabled = true;
      window.frames.selectors.runAll();
    };

    // Callback from the done() function in the static/selectors.html
		var sendBrowserscopeScore = function(score, passed, failed) {
		  var testResults = [
		    // score is a decimal and we need to send beacon an int.
		    'score=' + score.replace('.', ''),
		    'passed=' + passed,
		    'failed=' + failed
		  ];
      SendScore(testResults);
		}
  </script>
{% endblock %}
