{% extends "testdriver_base.html" %}

{% block body %}
  <iframe
    id="selectors"
    onload="Util.fixIframeLinks(document.getElementById('selectors'));"
    name="selectors" height="700px" width="100%" frameborder="0" src="static/selectors.html"></iframe>

  <script>
    var runSelectorsTest = function() {
      window.frames.selectors.runAll();
    };
    document.getElementById('bs-runtest').onclick = runSelectorsTest;

    // this is a callback from the done() function
		function browserscopeBeacon(score, passed, failed) {
		  // score is a decimal and we need to send beacon an int.
		  testResults.push('score=' + score.replace('.', ''));
		  testResults.push('passed=' + passed);
		  testResults.push('failed=' + failed);
      SendScore({% if autorun %}{% else %}false{% endif %});
		}

		{% if autorun %}
		  runSelectorsTest();
		{% endif %}
  </script>
{% endblock %}
