{% extends "testdriver_base.html" %}

{% block body %}
  <iframe
    id="{{ app_category }}"
    onload="Util.fixIframeLinks('{{ app_category }}');{% if autorun %}runTest();{% endif %}"
    name="{{ app_category }}"
    height="700px"
    width="100%"
    frameborder="0"
    src="static/{{ app_category }}.html"></iframe>

  <script>
    var runTest = function() {
      window.frames.selectors.runAll();
    };

    // This is a callback from the done() function in the static/selectors.html page.
		var sendBrowserscopeScore = function(score, passed, failed) {
		  // score is a decimal and we need to send beacon an int.
		  var testResults = [];
		  testResults.push('score=' + score.replace('.', ''));
		  testResults.push('passed=' + passed);
		  testResults.push('failed=' + failed);
      SendScore(testResults);
		}
  </script>
{% endblock %}
