<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Reflow Timer - Locations</title>
    <style>
    body {
      font-size: 75%;
    }
    .rt-sep {
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 1em;
    }
    </style>
  </head>
  <body>
    <ul>
      {% for AggregatedReflowTime in AggregatedReflowTimes %}
        <li>
          <a href="/reflow/stats_chart?location={{ AggregatedReflowTime.location|urlquote }}&x_axis=num_nests&test=testDisplay&user_agent=Firefox%203.0"
            >CHART - {{ AggregatedReflowTime.location }}</a>
        </li>
        <li class="rt-sep">
          <a href="/reflow/stats_table?location={{ AggregatedReflowTime.location|urlquote }}&tests=testDisplay"
            >TABLE - {{ AggregatedReflowTime.location }}</a>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>

