{% extends "base.html" %}

{% block body %}
<div id="bs-alltests">
  <h1>{{ app_title }} - Run the Tests</h1>

  <p class="bs-youcan">
    We're excited that you want to participate! Below are the links to begin the tests. Just click, sit back, and at the end we'll show you how your results stack up compared to other users. If you have questions, please check our <a href="/faq">FAQ</a> and our <a href="http://groups.google.com/group/browserscope">discussion group</a>.
  </p>

  <dl class="bs-youcan">
    <dt>
      <a id="bs-runall" class="bs-btn" href="/{{ app_categories.0.0 }}/test?autorun=1&continue=1">Run All Tests and Share Your Results»</a>
    </dt>
    <dd>
      <div id="bs-runall-desc">
        Click the link above to run the tests across all categories. This will take approximately 4 minutes, but gets everything done with one click. Otherwise:
      </div>
    </dd>

    {% for app_category in app_categories %}
      <dt>
        <a class="bs-btn" href="/{{ app_category|by_key:0 }}/test">Go to the {{ app_category|by_key:1 }} Tests »</a>
      </dt>
      <dd>
      </dd>
    {% endfor %}
  </dl>
</div>

<script src="{{ "xhrio.js"|resource_path }}"></script>
<script src="{{ "util.js"|resource_path }}"></script>
<script>
  var serverUaString = '{{current_ua_string}}';
  var cb = Util.createChromeFrameCheckbox(serverUaString);
  if (cb) {
    var el = document.getElementById('bs-runall');
    el.parentNode.insertBefore(cb,
        el.nextSibling);
  }
</script>
{% endblock %}
