<!doctype html>
<html>
<head>
  <title>
    {% if app_category %}
      {{ app_categories|by_key:app_category_index|by_key:1}} -
    {% endif %}
    {% if page_title %}
      {{ page_title }} -
    {% endif %}
    {{ app_title }}
  </title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link
    rel="stylesheet"
    href="{{ "base.css"|resource_path }}"
    type="text/css">
  {% block style %}{% endblock %}
  {% block head %}{% endblock %}
</head>

<body>
  <h1 id="bs-logo" class="bs-ir">
    <a target="_top" href="/"><span>{{ app_title }}</span></a>
  </h1>
  <div id="bs-nav" class="g-tpl-50-50">
    <div class="g-unit g-first">
      <div class="g-c">

        <ul id="bs-nav-cats" class="g-section bs-compact bs-list-horz">
        {% for tuple in app_categories %}
          <li>
            <a target="_top"
               href="/{{ tuple|by_key:0 }}/test">{{ tuple|by_key:1 }}</a>
          </li>
        {% endfor %}
        </ul>

      </div>
    </div>
    <div class="g-unit">
      <div class="g-c">

         <a target="_top" href="/faq">FAQ</a>

        {% if user %}
          {{ user.email }} {% if is_admin %}<a href="/admin">admin</a>{% endif %}
          <a target="_top" href="{{ sign_out }}"> sign out</a>
        {% else %}
          <a target="_top" href="{{ sign_in }}">Sign in</a>
        {% endif %}
      </div>
    </div>
  </div>


  <div id="bs-body">
    {% ifequal request_path_lastbit "about" %}
      <a href="/{{ app_category }}/test" class="bs-bc">Go to the {{ app_category_name }} Tests</a>
    {% endifequal %}
    {% ifequal request_path_lastbit "test" %}
      <a href="/{{ app_category }}/about" class="bs-bc">Read more about the {{ app_category_name }} Tests</a>
    {% endifequal %}

    {% block body %}{% endblock %}
  </div>

  <div id="bs-foot">
    <a href="/">Home</a> |
    <a href="/faq">FAQ</a> |
    <a href="http://code.google.com/p/browserscope/source/checkout">Code</a> |
    <a href="http://code.google.com/p/browserscope/issues/list">Submit a Bug</a> |
    <a href="http://groups.google.com/group/browserscope">Mailing List</a> |
    <a href="mailto:browserscope@googlegroups.com">Contact</a>
  </div>

  <script>
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-9733170-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>

</html>

