{% extends "base.html" %}

{% block body %}
<h2>Browse individual results: {{ category }}</h2>
<table class="bs-table">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>UA</th>
      <th>IP Address (md5)</th>
      {% for test_key in f %}
        <th>{{ test_key }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for result_parent in results %}
      <tr>
        <td>{{ result_parent.created }}</td>
        <td title="{{ result_parent.user_agent.string }}">
          {{ result_parent.user_agent.pretty }}
        </td>
        <td>{{ result_parent.ip }}</td>
        {% with result_parent.GetResults as results %}
          {% for test_key in f %}
            <td title="{{ test_key }}">{{ results|by_key:test_key }}</td>
          {% endfor %}
        {% endwith %}
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="{{ f|length|add:3 }}">
        {% if prev_bookmark %}
          <a href="/browse?category={{ category }}&bookmark={{ prev_bookmark }}"
            >&lt; Prev</a>
        {% endif %}
        {% if next_bookmark %}
          <a href="/browse?category={{ category }}&bookmark={{ next_bookmark }}"
            >Next &gt;</a>
        {% endif %}
      </td>
    </tr>
  </tfoot>
</table>
{% endblock %}

