{% extends "base.html" %}

{% block body %}

<img src="/static/img/stethoscope.png" height="256" width="256" align="right" vspace="10" hspace="20" alt="">

<div id="bs-faq">
  <h1>{{ app_title }} in the News</h1>
  <p>
    These are a collection of posts relevant to Browserscope.
  </p>
  <ul>
    <li>
      <strong>Sep. 13th, 2009</strong>
      <a href="http://is.onthafly.com/2009/09/announcing-browserscope.html">Announcing Browserscope</a>
    </li>
    <li>
      <strong>Sep. 13th, 2009</strong>
      <a href="http://www.stevesouders.com/blog/2009/09/13/browserscope-how-does-your-browser-compare/">Browserscope: how does your browser compare?</a>
    <li>
      <strong>Sep. 14th, 2009</strong>
      <a href="http://ajaxian.com/archives/browserscope">BrowserScope: UAProfiler++, Crowd source browser tests</a> (Ajaxian)
    </li>
    <li>
      <strong>Sep. 17th, 2009</strong>
      <a href="http://www.youtube.com/watch?v=pNfRL-TwzZY">Tech Talk Video - Browserscope &amp; SpriteMe</a> (YouTube)
    </li>
    <li>
      <strong>Sep. 26th, 2009</strong>
      <a href="http://is.onthafly.com/2009/09/browserscope-chrome-frame.html">Browserscope and Chrome Frame</a>
    </li>
    <li>
      <strong>Nov. 10th, 2009</strong>
      <a href="http://mayscript.com/blog/collinj/browserscope-security-test-suite">Security Test Suite Launch</a>
    </li>
    <li>
      <strong>Feb. 18th, 2010</strong>
      <a href="http://mayscript.com/blog/collinj/what-makes-good-browserscope-security-test"
        >What Makes A Good Browserscope Security Test?</a>
    </li>
  </ul>
</div>

{% endblock %}