{% extends "base.html" %}

{% block body %}

<img src="/static/img/stethoscope.png" height="256" width="256" align="right" vspace="10" hspace="20" alt="">

<div id="bs-faq">
  <h1>{{ app_title }} in the News</h1>
  <p>
    These are a collection of posts relevant to Browserscope.
  </p>
  <ul>
    <li>
      <strong>Jul. 28th, 2011</strong>
      <a href="http://www.idreamofuni.com/2011/07/ie-results-for-free-new-table-browsing.html"
        >IE Results for Free & New Table Browsing Features</a>
    </li>
    <li>
      <strong>Jul. 21st, 2011</strong>
      <a href="http://www.idreamofuni.com/2011/07/new-browserscope-visualizations.html"
        >New Browserscope Visualizations</a>
    </li>

    <li>
      <strong>Jun. 15th 2010</strong>
      <a href="http://googlecode.blogspot.com/2010/06/reversing-code-bloat-with-javascript.html"
        >JSKB test category goes live</a>
    </li>
    <li>
      <strong>Apr. 18th, 2010</strong>
      <a href="">User Tests launched</a>
    </li>
    <li>
      <strong>Feb. 18th, 2010</strong>
      <a href="http://mayscript.com/blog/collinj/what-makes-good-browserscope-security-test"
        >What Makes A Good Browserscope Security Test?</a>
    </li>
    <li>
      <strong>Nov. 10th, 2009</strong>
      <a href="http://mayscript.com/blog/collinj/browserscope-security-test-suite">Security Test Suite Launch</a>
    </li>
    <li>
      <strong>Sep. 26th, 2009</strong>
      <a href="http://is.onthafly.com/2009/09/browserscope-chrome-frame.html">Browserscope and Chrome Frame</a>
    </li>
    <li>
      <strong>Sep. 17th, 2009</strong>
      <a href="http://www.youtube.com/watch?v=pNfRL-TwzZY">Tech Talk Video - Browserscope &amp; SpriteMe</a> (YouTube)
    </li>
    <li>
      <strong>Sep. 14th, 2009</strong>
      <a href="http://ajaxian.com/archives/browserscope">BrowserScope: UAProfiler++, Crowd source browser tests</a> (Ajaxian)
    </li>
    <li>
      <strong>Sep. 13th, 2009</strong>
      <a href="http://www.stevesouders.com/blog/2009/09/13/browserscope-how-does-your-browser-compare/">Browserscope: how does your browser compare?</a>
    </li>

    <li>
      <strong>Sep. 13th, 2009</strong>
      <a href="http://is.onthafly.com/2009/09/announcing-browserscope.html">Announcing Browserscope</a>
    </li>
  </ul>
</div>

{% endblock %}