<div id="rt-stats-selectors" class="rt-stats">
  <table cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th scope="col" class="rt-ua" colspan="2">
          <form id="rt-stats-selectors-v-f" action="" method="get">
            <input type="hidden" name="category" value="selectors">
            <input type="hidden" name="selectors_results" value="">
            <!-- Sorry for the lame, non-degrading behaviour here. -->
            <select id="rt-stats-selectors-v" name="v">
              
                
                  <option
                    value="top"
                    
                    >Top Browsers</option>
                
              
                
                  <option
                    value="0"
                    
                    >Browser Families</option>
                
              
                
                  <option
                    value="1"
                    
                    >Major Versions</option>
                
              
                
                  <option
                    value="2"
                    selected="selected"
                    >Minor Versions</option>
                
              
                
                  <option
                    value="3"
                    
                    >All Versions</option>
                
              
            </select>
            <input id="rt-stats-selectors-v-s" type="submit" value="go">
          </form>
          
        </th>
        
          <th scope="col">
            <a href="/selectors/test">Score</a>
          </th>
        
          <th scope="col">
            <a href="/selectors/test">Passed</a>
          </th>
        
          <th scope="col">
            <a href="/selectors/test">Failed</a>
          </th>
        
        <th># Tests</th>
      </tr>
    </thead>
    <tbody>
      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-8">
              
              Chrome 1.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-8">
              
            </td>

            
              <td
                class="rt-t-s-8"
                >80.6%
              </td>
            
              <td
                class="rt-t-s-7"
                >1745
              </td>
            
              <td
                class="rt-t-s-6"
                >419
              </td>
            
            <td class="rt-tot">
              
                3
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-10">
              
              Chrome 2.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-10">
              
            </td>

            
              <td
                class="rt-t-s-10"
                >99.3%
              </td>
            
              <td
                class="rt-t-s-10"
                >2148
              </td>
            
              <td
                class="rt-t-s-8"
                >16
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-10">
              
              Chrome 3.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-10">
              
            </td>

            
              <td
                class="rt-t-s-10"
                >99.3%
              </td>
            
              <td
                class="rt-t-s-10"
                >2148
              </td>
            
              <td
                class="rt-t-s-8"
                >16
              </td>
            
            <td class="rt-tot">
              
                3
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-10">
              
              Chrome 4.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-10">
              
            </td>

            
              <td
                class="rt-t-s-10"
                >99.3%
              </td>
            
              <td
                class="rt-t-s-10"
                >2148
              </td>
            
              <td
                class="rt-t-s-8"
                >16
              </td>
            
            <td class="rt-tot">
              
                4
              
            </td>
          </tr>
        

      

        

        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-0">
              
              Firefox 3.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-0">
              
            </td>

            
              <td
                class="rt-t-s-0"
                >0.0%
              </td>
            
              <td
                class="rt-t-s-7"
                >0
              </td>
            
              <td
                class="rt-t-s-6"
                >2164
              </td>
            
            <td class="rt-tot">
              
                3
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-10">
              
              Firefox 3.5
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-10">
              
            </td>

            
              <td
                class="rt-t-s-10"
                >99.3%
              </td>
            
              <td
                class="rt-t-s-10"
                >2148
              </td>
            
              <td
                class="rt-t-s-8"
                >16
              </td>
            
            <td class="rt-tot">
              
                16
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-0">
              
              IE 6.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-0">
              
            </td>

            
              <td
                class="rt-t-s-0"
                >0.0%
              </td>
            
              <td
                class="rt-t-s-7"
                >0
              </td>
            
              <td
                class="rt-t-s-6"
                >1816
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-0">
              
              IE 7.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-0">
              
            </td>

            
              <td
                class="rt-t-s-0"
                >0.0%
              </td>
            
              <td
                class="rt-t-s-7"
                >0
              </td>
            
              <td
                class="rt-t-s-6"
                >1816
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-6">
              
              IE 8.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-6">
              
            </td>

            
              <td
                class="rt-t-s-6"
                >58.5%
              </td>
            
              <td
                class="rt-t-s-7"
                >1265
              </td>
            
              <td
                class="rt-t-s-6"
                >899
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-10">
              
              Opera 10.00
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-10">
              
            </td>

            
              <td
                class="rt-t-s-10"
                >97.5%
              </td>
            
              <td
                class="rt-t-s-10"
                >2110
              </td>
            
              <td
                class="rt-t-s-6"
                >54
              </td>
            
            <td class="rt-tot">
              
                3
              
            </td>
          </tr>
        

      

        

        

      

        

        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-0">
              
              Opera 9.64
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-0">
              
            </td>

            
              <td
                class="rt-t-s-0"
                >0.0%
              </td>
            
              <td
                class="rt-t-s-7"
                >0
              </td>
            
              <td
                class="rt-t-s-6"
                >2164
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      

        

        

      

        

        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-8">
              
              Safari 3.2
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-8">
              
            </td>

            
              <td
                class="rt-t-s-8"
                >80.6%
              </td>
            
              <td
                class="rt-t-s-7"
                >1745
              </td>
            
              <td
                class="rt-t-s-6"
                >419
              </td>
            
            <td class="rt-tot">
              
                2
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-10">
              
              Safari 4.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-10">
              
            </td>

            
              <td
                class="rt-t-s-10"
                >97.8%
              </td>
            
              <td
                class="rt-t-s-10"
                >2116
              </td>
            
              <td
                class="rt-t-s-6"
                >48
              </td>
            
            <td class="rt-tot">
              
                2
              
            </td>
          </tr>
        

      

        

        

      
    </tbody>
    
  </table>
</div>

<div class="bs-results-links">
  <a href="/selectors/test">Go to the Selectors API Tests</a>
  <a href="/selectors/about">Learn about the Selectors API Tests</a>
</div>
