{% if callback %}{{ callback }}({% endif %}{
  "category": "{{ category }}",
  "category_name": "{{ category_name }}",
  "v": "{{ v }}",
  "results": [
    {% for user_agent in user_agents %}
      { "{{ user_agent }}": {
        "score": "{{ stats|by_key:user_agent|by_key:"score"|scale_100_to_10 }}",
        "score_display": "{{ stats|by_key:user_agent|by_key:"display" }}",
        "results": [
          {% for test in tests %}
            {"{{ test.key }}": {
              "display": "{{ stats|by_key:user_agent|by_key:"results"|by_key:test.key|by_key:"display" }}",
              "score": "{{ stats|by_key:user_agent|by_key:"results"|by_key:test.key|by_key:"score"|scale_100_to_10 }}"
            }}{% if forloop.last %}{% else %}, {% endif %}
          {% endfor %}
        ]
      }
    }{% if forloop.last %}{% else %}, {% endif %}
    {% endfor %}
  ]
}{% if callback %});({% endif %}