<div id="rt-stats-network" class="rt-stats">
  <table cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th scope="col" class="rt-ua" colspan="2">
          <form id="rt-stats-network-v-f" action="" method="get">
            <input type="hidden" name="category" value="network">
            <input type="hidden" name="network_results" value="">
            <!-- Sorry for the lame, non-degrading behaviour here. -->
            <select id="rt-stats-network-v" name="v">
              
                
                  <option
                    value="top"
                    
                    >Top Browsers</option>
                
              
                
                  <option
                    value="0"
                    
                    >Browser Families</option>
                
              
                
                  <option
                    value="1"
                    
                    >Major Versions</option>
                
              
                
                  <option
                    value="2"
                    selected="selected"
                    >Minor Versions</option>
                
              
                
                  <option
                    value="3"
                    
                    >All Versions</option>
                
              
            </select>
            <input id="rt-stats-network-v-s" type="submit" value="go">
          </form>
          
        </th>
        
          <th scope="col">
            <a href="network/test?testurl=connections-per-hostname">Connections per Hostname</a>
          </th>
        
          <th scope="col">
            <a href="network/test?testurl=max-connections">Max Connections</a>
          </th>
        
          <th scope="col">
            <a href="network/test?testurl=scripts-block">Parallel Scripts</a>
          </th>
        
          <th scope="col">
            <a href="network/test?testurl=stylesheets-block">Parallel Stylesheets</a>
          </th>
        
          <th scope="col">
            <a href="network/test?testurl=inline-script-after-stylesheet">Parallel Stylesheet and Inline Script</a>
          </th>
        
          <th scope="col">
            <a href="network/test?testurl=cache-expires">Cache Expires</a>
          </th>
        
          <th scope="col">
            <a href="network/test?testurl=cache-redirects">Cache Redirects</a>
          </th>
        
          <th scope="col">
            <a href="network/test?testurl=cache-resource-redirects">Cache Resource Redirects</a>
          </th>
        
          <th scope="col">
            <a href="network/test?testurl=link-prefetch">Link Prefetch</a>
          </th>
        
          <th scope="col">
            <a href="network/test?testurl=gzip">Compression Supported</a>
          </th>
        
          <th scope="col">
            <a href="network/test?testurl=data-urls">data: URLs</a>
          </th>
        
        <th># Tests</th>
      </tr>
    </thead>
    <tbody>
      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-7">
              
              Chrome 1.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-7">
              8/11
            </td>

            
              <td
                class="rt-t-s-10"
                >6
              </td>
            
              <td
                class="rt-t-s-10"
                >60
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
            <td class="rt-tot">
              
                2
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-8">
              
              Chrome 2.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-8">
              9/11
            </td>

            
              <td
                class="rt-t-s-10"
                >6
              </td>
            
              <td
                class="rt-t-s-10"
                >60
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
            <td class="rt-tot">
              
                9
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-8">
              
              Chrome 3.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-8">
              9/11
            </td>

            
              <td
                class="rt-t-s-10"
                >4
              </td>
            
              <td
                class="rt-t-s-10"
                >60
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
            <td class="rt-tot">
              
                3
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-8">
              
              Chrome 4.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-8">
              9/11
            </td>

            
              <td
                class="rt-t-s-10"
                >4
              </td>
            
              <td
                class="rt-t-s-10"
                >60
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
            <td class="rt-tot">
              
                2
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-6">
              
              Firefox 2.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-6">
              7/11
            </td>

            
              <td
                class="rt-t-s-5"
                >2
              </td>
            
              <td
                class="rt-t-s-10"
                >24
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
            <td class="rt-tot">
              
                4
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-6">
              
              Firefox 3.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-6">
              7/11
            </td>

            
              <td
                class="rt-t-s-10"
                >6
              </td>
            
              <td
                class="rt-t-s-10"
                >30
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
            <td class="rt-tot">
              
                11
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-8">
              
              Firefox 3.5
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-8">
              10/11
            </td>

            
              <td
                class="rt-t-s-10"
                >6
              </td>
            
              <td
                class="rt-t-s-10"
                >30
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
            <td class="rt-tot">
              
                6
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-3">
              
              IE 6.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-3">
              4/11
            </td>

            
              <td
                class="rt-t-s-5"
                >2
              </td>
            
              <td
                class="rt-t-s-10"
                >60
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
            <td class="rt-tot">
              
                6
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-3">
              
              IE 7.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-3">
              4/11
            </td>

            
              <td
                class="rt-t-s-5"
                >2
              </td>
            
              <td
                class="rt-t-s-10"
                >60
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
            <td class="rt-tot">
              
                7
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-6">
              
              IE 8.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-6">
              7/11
            </td>

            
              <td
                class="rt-t-s-10"
                >6
              </td>
            
              <td
                class="rt-t-s-10"
                >60
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
            <td class="rt-tot">
              
                5
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-4">
              
              Opera 10.00
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-4">
              5/11
            </td>

            
              <td
                class="rt-t-s-10"
                >4
              </td>
            
              <td
                class="rt-t-s-5"
                >20
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
            <td class="rt-tot">
              
                4
              
            </td>
          </tr>
        

      

        

        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-4">
              
              Opera 9.63
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-4">
              5/11
            </td>

            
              <td
                class="rt-t-s-10"
                >4
              </td>
            
              <td
                class="rt-t-s-5"
                >20
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
            <td class="rt-tot">
              
                7
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-4">
              
              Opera 9.64
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-4">
              5/11
            </td>

            
              <td
                class="rt-t-s-10"
                >4
              </td>
            
              <td
                class="rt-t-s-5"
                >20
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
            <td class="rt-tot">
              
                4
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-5">
              
              Opera 9.80
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-5">
              6/11
            </td>

            
              <td
                class="rt-t-s-10"
                >4
              </td>
            
              <td
                class="rt-t-s-5"
                >20
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      

        

        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-6">
              
              Safari 3.2
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-6">
              7/11
            </td>

            
              <td
                class="rt-t-s-10"
                >4
              </td>
            
              <td
                class="rt-t-s-10"
                >60
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
            <td class="rt-tot">
              
                3
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-7">
              
              Safari 4.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-7">
              8/11
            </td>

            
              <td
                class="rt-t-s-10"
                >4
              </td>
            
              <td
                class="rt-t-s-10"
                >60
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
            <td class="rt-tot">
              
                11
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
              rt-last
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-7">
              
              iPhone 3.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-7">
              8/11
            </td>

            
              <td
                class="rt-t-s-10"
                >7
              </td>
            
              <td
                class="rt-t-s-10"
                >60
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-1"
                >no
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
              <td
                class="rt-t-s-10"
                >yes
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      
    </tbody>
    
  </table>
</div>

<div class="bs-results-links">
  <a href="/network/test">Go to the Network Tests</a>
  <a href="/network/about">Learn about the Network Tests</a>
</div>
