{% extends "base.html" %}

{% block body %}

<div id="visualization" class="rt"></div>

{% ifequal build "production" %}
  <script src="{{ "browserscope.js"|resource_path }}"></script>
{% else %}
  <script>var CLOSURE_NO_DEPS = true;</script>
  <script src="{{ "dev.js"|resource_path }}"></script>
  <script src="{{ "util.js"|resource_path }}"></script>
{% endifequal %}

  <script src="http://www.google.com/jsapi"></script>
  <script>
    google.load('visualization', '1', {packages: ['table']});
    google.setOnLoadCallback(initialize);

    function initialize() {
      var query = new google.visualization.Query(
          '/?category={{ category }}&ua=' +
          '{{ ua_params }}&v=top&o=gviz_data' +
          '&highlight={{ highlight }}&tqx=reqId:0',
          {'sendMethod': 'scriptInjection'});
      query.send(draw);
    }

    function draw(response) {
      if (response.isError()) {
        alert('Error in query');
      }

      var dataTable = new google.visualization.Table(
          document.getElementById('visualization'));
      var data = response.getDataTable();
      var cssClassNames = {
        headerRow: '',
        hoverTableRow: '',
        selectedTableRow: '',
        tableRow: 'rt-row'
      };
      dataTable.draw(data, {
        'height': '{{ height }}',
        'width': '{{ width }}',
        'alternatingRowStyle': false,
        'cssClassNames': cssClassNames
      });
    }
  </script>

{% endblock %}

