<div id="rt-stats-acid3" class="rt-stats">
  <table cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th scope="col" class="rt-ua" colspan="2">
          <form id="rt-stats-acid3-v-f" action="" method="get">
            <input type="hidden" name="category" value="acid3">
            <input type="hidden" name="acid3_results" value="">
            <!-- Sorry for the lame, non-degrading behaviour here. -->
            <select id="rt-stats-acid3-v" name="v">
              
                
                  <option
                    value="top"
                    
                    >Top Browsers</option>
                
              
                
                  <option
                    value="0"
                    
                    >Browser Families</option>
                
              
                
                  <option
                    value="1"
                    
                    >Major Versions</option>
                
              
                
                  <option
                    value="2"
                    
                    >Minor Versions</option>
                
              
                
                  <option
                    value="3"
                    selected="selected"
                    >All Versions</option>
                
              
            </select>
            <input id="rt-stats-acid3-v-s" type="submit" value="go">
          </form>
          
        </th>
        
          <th scope="col">
            <a href="/acid3/test">Score</a>
          </th>
        
        <th># Tests</th>
      </tr>
    </thead>
    <tbody>
      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-8">
              
              Chrome 1.0.154
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-8">
              
            </td>

            
              <td
                class="rt-t-s-8"
                >78
              </td>
            
            <td class="rt-tot">
              
                4
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-10">
              
              Chrome 2.0.172
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-10">
              
            </td>

            
              <td
                class="rt-t-s-10"
                >100
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      

        

        

      

        

        

      

        

        

      

        

        

      

        

        

      

        

        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-10">
              
              Chrome 3.0.195
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-10">
              
            </td>

            
              <td
                class="rt-t-s-10"
                >100
              </td>
            
            <td class="rt-tot">
              
                4
              
            </td>
          </tr>
        

      

        

        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-10">
              
              Chrome 4.0.203
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-10">
              
            </td>

            
              <td
                class="rt-t-s-10"
                >100
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-10">
              
              Chrome 4.0.206
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-10">
              
            </td>

            
              <td
                class="rt-t-s-10"
                >100
              </td>
            
            <td class="rt-tot">
              
                2
              
            </td>
          </tr>
        

      

        

        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-7">
              
              Firefox 3.0.10
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-7">
              
            </td>

            
              <td
                class="rt-t-s-7"
                >71
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      

        

        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-7">
              
              Firefox 3.0.13
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-7">
              
            </td>

            
              <td
                class="rt-t-s-7"
                >72
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      

        

        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-9">
              
              Firefox 3.0.9
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-9">
              
            </td>

            
              <td
                class="rt-t-s-9"
                >93
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-9">
              
              Firefox 3.5
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-9">
              
            </td>

            
              <td
                class="rt-t-s-9"
                >93
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      

        

        

      

        

        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-1">
              
              IE 6.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-1">
              
            </td>

            
              <td
                class="rt-t-s-1"
                >12
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-1">
              
              IE 7.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-1">
              
            </td>

            
              <td
                class="rt-t-s-1"
                >12
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-2">
              
              IE 8.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-2">
              
            </td>

            
              <td
                class="rt-t-s-2"
                >20
              </td>
            
            <td class="rt-tot">
              
                1
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-10">
              
              Opera 10.00
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-10">
              
            </td>

            
              <td
                class="rt-t-s-10"
                >99
              </td>
            
            <td class="rt-tot">
              
                2
              
            </td>
          </tr>
        

      

        

        

      

        

        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-9">
              
              Opera 9.64
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-9">
              
            </td>

            
              <td
                class="rt-t-s-9"
                >85
              </td>
            
            <td class="rt-tot">
              
                3
              
            </td>
          </tr>
        

      

        

        

      

        

        

      

        

        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-8">
              
              Safari 3.2.3
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-8">
              
            </td>

            
              <td
                class="rt-t-s-8"
                >75
              </td>
            
            <td class="rt-tot">
              
                2
              
            </td>
          </tr>
        

      

        

        
          <tr
            class="
            
            
            "
            >
            <td
              scope="row"
              class="rt-ua rt-ua-s-10">
              
              Safari 4.0
              
            </td>

            <td
              class="rt-ua-s-d
                     rt-ua-s-10">
              
            </td>

            
              <td
                class="rt-t-s-10"
                >100
              </td>
            
            <td class="rt-tot">
              
                2
              
            </td>
          </tr>
        

      

        

        

      

        

        

      
    </tbody>
    
  </table>
</div>

<div class="bs-results-links">
  <a href="/acid3/test">Go to the Acid3 Tests</a>
  <a href="/acid3/about">Learn about the Acid3 Tests</a>
</div>
