
<div class="rt bs-rt">
  <h3>
    <a href="http://{{ server }}/user/tests/table/{{ test.key }}"
      >{{ stats_table_category_name }}</a>
  </h3>
  {% if test.description %}
    <p>{{ test.description }}</p>
  {% endif %}

  <div id="bs-rt-{{ category }}">
  </div>
  {% if is_admin %}
    <a href="/clear_memcache?category={{ category }}&v={{ v }}&continue={{ request_path|urlencode }}" class="bs-admin">clearmem</a>
  {% else %}
    foo
  {% endif %}
</div>

{% ifequal output "js" %}{% else %}
  <script>
    {% include "stats_gviz_table.js" %}
    var resultsTable = new bsResultsTable('bs-rt-{{ category }}');
    {% if callback %}
      if ({{ callback }}) {
        {{ callback }}(resultsTable);
      } else {
        alert('You need to define {{ callback }}');
      }
    {% endif %}
  </script>
{% endifequal %}

