{% extends "base.html" %}

{% block head %}
<!-- Load beacon script -->
<script src="/static/util.js"></script>
<!--<script src="/static/beacon.js"></script>-->
<script src="/static/xhrio.js"></script>

<script>
  var testCategories = [];
  {% for app_category in  app_categories %}
  testCategories.push('{{ app_category.0 }}');
  {% endfor %}

  // This is the function that all test pages will call.
  /**
   * @param {Array} testResults test1=result,test2=result, etc..
   */
  function SendScore(testResults) {
    var uriParams = "category={{ app_category }}&results=" +
        testResults.join(',') + "&csrf_token={{ csrf_token }}";

    //function(url, opt_callback, opt_method, opt_content, opt_headers, opt_timeoutInterval)
    //var beacon = new Beacon(uriParams);
    var results = '{{ app_category }}_results=' + testResults.join(',');
    {% if autorun %}
      var onComplete = function() {
        var continueUrl = unescape(Util.getParam('continue'));
        var nextUrl;
        if (continueUrl != '') {
          nextUrl = continueUrl + '&' + results;
        }

        for (var i = 0; i < testCategories.length; i++) {
          var category = testCategories[i];
          var results = Util.getParam(category + '_results');
          if (results) {
            nextUrl = nextUrl + '&' + category + '_results=' + results;
          }
        }
        alert('xhrio onComplete nextUrl: ' + nextUrl);return;
        window.location.href = nextUrl;
      };
      goog.net.XhrIo.send('/beacon', onComplete, 'post', uriParams);
    {% else %}
      var sendBeacon = document.getElementById('bs-send-beacon');
      if (sendBeacon.checked) {
        goog.net.XhrIo.send('/beacon', null, 'post', uriParams);
      }
      var seeMyResultsLink = document.getElementById('bs-see-my-results');
      if (!seeMyResultsLink) {
        seeMyResultsLink = document.createElement('a');
        seeMyResultsLink.id = 'bs-see-my-results';
        seeMyResultsLink.style.marginLeft = '.5em';
        seeMyResultsLink.appendChild(document.createTextNode(
            'See & compare my results'));
        document.getElementById('bs-runtest-c').appendChild(seeMyResultsLink);
      }
      seeMyResultsLink.href = '/?' + results;
    {% endif %}

    // Update the iframe size if there's one
    var doc = Util.getIframeDocument('bs-test-iframe');
    if (doc) {
      var height = Util.getDocumentHeight(doc);
      document.getElementById('bs-test-iframe').style.height = height + 10 + 'px';
    }
  }
</script>
{% endblock %}

{% block prebody %}
  {% if autorun %}{% else %}
    <p id="bs-runtest-c">
      <button
        id="bs-runtest"
        class="bs-runtest"
        onclick="runTest()"
        >Run {{ app_category_name }} Test</button>
      <script>
      var runTest = function() {
        alert('You should rewrite runTest in your test.html file');
      }
      </script>
      <label for="bs-send-beacon">
        <input id="bs-send-beacon" type="checkbox" checked="checked">
        Share my test results
      </label>
    </p>
  {% endif %}
{% endblock %}
