<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
   "http://www.w3.org/TR/html4/frameset.dtd">
<html>
  <title>{{ page_title }}</title>
  {% ifequal chromeframe_enabled "1" %}
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
  {% endifequal %}
  <script>
    // The code here is for test authors' convenience.
    // i.e. They can just do parent.sendScore().
    var sendScore = function(results, opt_continueParams) {
      var continueParams = opt_continueParams || null;
      var testDriverFrame = window['bs-test-driver'];
      testDriverFrame.testDriver.sendScore(results, continueParams);
    };
    var getFrameDocument = function(iframeId) {
      var doc;
      var iframe = window.frames[iframeId];
      if (!iframe) {
        iframe = document.getElementById(iframeId);
      }
      if (!iframe) {
        return null;
      }
      if (iframe.contentDocument) {
        // For NS6
        doc = iframe.contentDocument;
      } else if (iframe.contentWindow) {
        // For IE5.5 and IE6
        doc = iframe.contentWindow.document;
      } else if (iframe.document) {
        // For IE5
        doc = iframe.document;
      }
      return doc;
    };
    var onLoadHandler = function() {
      // Resizes the frames to make sure we're not cutting off the buttons.
      var testDriverFrameDocument = getFrameDocument('bs-test-driver');
      var height = testDriverFrameDocument.body.offsetHeight;
      var bsTestDriverFrame = document.getElementById('bs-test-driver');
      var bsTestFrameset = document.getElementById('bs-test-frameset');
      bsTestFrameset.rows = height + ',*';
    };
  </script>
  <frameset id="bs-test-frameset"
    rows="{% if autorun %}80{% else %}120{% endif %},*"
    onload="onLoadHandler()">
    <frame
      id="bs-test-driver"
      name="bs-test-driver"
      frameborder="0"
      scrolling="no"
      src="/category_test_driver?category={{ category}}&continue={{ continue }}&autorun={{ autorun }}&rand={{ epoch }}&testurl={{ testurl }}">
    <frame
      id="bs-test-frame"
      name="bs-test-frame"
      frameborder="0"
      src="/static/clicktorun.html">
  </frameset>
  <noframes>
    Your browser does not support frames. Impressive.
  </noframes>
</html>

