{% extends "base.html" %}

{% block body %}


<script src="http://www.google.com/jsapi"></script>
<script>
  google.load('visualization', '1', {packages: ['annotatedtimeline']});
  google.setOnLoadCallback(initialize);

  function initialize() {
    var query = new google.visualization.Query(
      "/timeline_data?category={{ category }}&ua={{ ua }}&v=3&o=gviz_timeline_data&tqx=reqId:0");
    query.send(draw);
  }

  function draw(response) {
    if (response.isError()) {
      alert('Error in query');
    }
    var data = response.getDataTable()

    var chart = new google.visualization.AnnotatedTimeLine(
        document.getElementById('visualization'));
    chart.draw(data, {
          {% ifequal category "summary" %}
            'min': 0, 'max': 100,
          {% endifequal %}
          'displayAnnotations': true,
          'annotationsWidth': 35,
          'displayAnnotationsFilter': true,
          'displayLegendDots': false,
          'displayLegendValues': false,
          'displayRangeSelector' : true,
          'displayZoomButtons': true,
          'legendPosition': 'newRow',
          'thickness': 2,
          'zoomStartTime': new Date(2008, 1 ,1)
         });
  }
</script>


<div id="visualization" style="width: 1100px; height: 600px;"
  >Loading the timeline ...</div>


{% endblock %}

