{% extends extends_file %}

{% block body %}

{% if js %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script src="/static/highcharts.js"></script>
{% endif %}

<div id="bs-timeline-{{ category }}" class="bs-timeline"
  style="height:{{ h }};width:{{ w }};"></div>
<script>
{% if js %}$(document).ready(function() {{% endif %}
  var chart = new Highcharts.Chart({
        chart: {
          renderTo: 'bs-timeline-{{ category }}',
          zoomType: 'x',
          type: 'spline'
        },
        title: {
          text: '{{ category_name }} Score Timeline'
        },
        subtitle: {
         text: document.ontouchstart === undefined ?
            'Click and drag in the plot area to zoom in' :
            'Drag your finger over the plot to zoom in'
        },
        xAxis: {
          type: 'datetime',
          maxZoom: 90 * 24 * 3600000 // 90 days
          /*
          dateTimeLabelFormats: { // don't display the dummy year
            month: '%b %e',
            year: '%b'
          }*/
        },
        yAxis: {
          title: {
            text: 'Score'
          },
          min: 0,
          max: 100
        },
        tooltip: {
          formatter: function() {
            return '<b>'+ this.point.v + '</b><br/>'+
            Highcharts.dateFormat('%b %e', this.x) +': '+ this.y;
          }
        },
        /*
        plotOptions: {
          spline: {
            dataLabels: {
              enabled: true,
              formatter: function() {
                return this.point.v;
              }
            },
            enableMouseTracking: false
          }
        },
        */
        series: [
          {% for family, version_data in timeline_stats_dict.items %}
            {
              name: '{{ family }}',
              data: [
                {% for data in version_data %}
                  {
                    x: Date.UTC({{ data.release_date.year }}, {{ data.release_date.month|add:"-1" }}, {{ data.release_date.day }}),
                    y: {{ data.score }},
                    v: '{{ data.family_version }}'
                  }{% if forloop.last %}{% else %},{% endif %}
                {% endfor %}
              ]
            }{% if forloop.last %}{% else %},{% endif %}
          {% endfor %}
        ]
    });
{% if js %}});{% endif %}
</script>

{% endblock %}

