{% extends "base.html" %}

{% block body %}

<img id="bs-user-settings-steth" src="/static/img/stethoscope.png"
  height="150" width="150" align="right" vspace="10" hspace="20" alt="">

<div id="bs-user-settings">

  <h1>{{ user.nickname }}</h1>
  <label for="api_key">API key:</label>
  <strong>{{ api_key }}</strong>

  <h2>Tests</h2>
  <p>
    Read the <a href="/user/tests/howto">HOWTO page</a> to learn how to use
    Browserscope to store and present your test data.
  </p>

  <p>
    <a href="/user/tests/create" class="bs-btn">+ Add a test</a>
  </p>

  {% if tests %}
    <table class="bs-table">
      <thead>
        <tr>
          <th></th>
          <th>_bTestKey</th>
          <th>Name</th>
          <th>URL</th>
          <th>Sandbox ID</th>
          <th>Description</th>
          <th># Tests<br><small>updates hourly</small></th>
          <th>Outputs</th>
        </tr>
      </thead>
      <tbody>
        {% for test in tests %}
          <tr>
            <td>
              <a href="/user/tests/edit/{{ test.key }}">edit</a>
            </td>
            <td>
              {{ test.key }}
            </td>
            <td>
              {{ test.name }}
              {% if test.deleted %}
                <span class="bs-admin">[deleted]</span>
              {% endif %}
            </td>
            <td>
              <a href="{{ test.url }}" target="_blank">{{ test.url }}</a>
            </td>
            <td>{{ test.sandboxid }}</td>
            <td>{{ test.description }}</td>
            <td>{{ test.beacon_count }}</td>
            <td>
              <a href="/browse?category=usertest_{{ test.key }}"
                >Results</a><br>
              <a href="/user/tests/table/{{ test.key }}?v=3&layout=simple"
                >Table</a><br>
              <a href="/user/tests/table/{{ test.key }}?v=3&o=csv">CSV</a>
              <a href="/user/tests/table/{{ test.key }}?v=3&o=json">JSON</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>
      You don't have any tests configured yet.
    </p>
  {% endif %}

</div>

{% endblock %}