{% extends "base.html" %}

{% block body %}

<div id="visualization"></div>

{% ifequal build "production" %}
  <script src="{{ "browserscope.js"|resource_path }}"></script>
{% else %}
  <script>var CLOSURE_NO_DEPS = true;</script>
  <script src="{{ "dev.js"|resource_path }}"></script>
  <script src="{{ "util.js"|resource_path }}"></script>
  <script src="/uaparser/js_override"></script>
{% endifequal %}

  <script src="http://www.google.com/jsapi"></script>
  <script>
  /**
   * A wrapper for a query and a table visualization.
   * The object only requests 1 page + 1 row at a time, by default, in order
   * to minimize the amount of data held locally.
   * Table sorting and pagination is executed by issuing
   * additional requests with appropriate query parameters.
   * E.g., for getting the data sorted by column 'A' the following query is
   * attached to the request: 'tq=order by A'.
   *
   * Note: Discards query strings set by the user on the query object using
   * google.visualization.Query#setQuery.
   *
   * DISCLAIMER: This is an example code which you can copy and change as
   * required. It is used with the google visualization API table visualization
   * which is assumed to be loaded to the page. For more info see:
   * http://code.google.com/apis/chart/interactive/docs/gallery/table.html
   * http://code.google.com/apis/chart/interactive/docs/reference.html#Query
   */


  /**
   * Constructs a new table query wrapper for the specified query, container
   * and tableOptions.
   *
   * Note: The wrapper clones the options object to adjust some of its properties.
   * In particular:
   *         sort {string} set to 'event'.
   *         page {string} set to 'event'.
   *         pageSize {Number} If number <= 0 set to 10.
   *         showRowNumber {boolean} set to true.
   *         firstRowNumber {number} set according to the current page.
   *         sortAscending {boolean} set according to the current sort.
   *         sortColumn {number} set according to the given sort.
   * @constructor
   */
  var TableQueryWrapper = function(url, sendMethod, container, options) {

    this.table = new google.visualization.Table(container);
    this.url = url;
    this.sendMethod = sendMethod;

    this.limit = options['pageSize'];
    this.order = '';
    this.dir = '';
    this.bookmark = '';

    this.container = container;
    this.currentDataTable = null;

    var self = this;
    var addListener = google.visualization.events.addListener;
    addListener(this.table, 'page', function(e) {self.handlePage(e)});
    addListener(this.table, 'sort', function(e) {self.handleSort(e)});

    options = options || {};
    options = TableQueryWrapper.clone(options);

    options['sort'] = 'event';
    options['page'] = 'event';
    options['showRowNumber'] = true;
    var buttonConfig = 'pagingButtonsConfiguration';
    options[buttonConfig] = options[buttonConfig] || 'both';
    options['pageSize'] = (options['pageSize'] > 0) ? options['pageSize'] : 10;
    this.pageSize = options['pageSize'];
    this.tableOptions = options;
    this.currentPageIndex = 0;
    this.tableOptions['firstRowNumber'] = 1;
  };


  /**
   * Sends the query and upon its return draws the Table visualization in the
   * container. If the query refresh interval is set then the visualization will
   * be redrawn upon each refresh.
   */
  TableQueryWrapper.prototype.sendAndDraw = function() {
    if (this.query) {
      this.query.abort();
    }

    this.query = new google.visualization.Query(
          this.url + '&limit=' + this.limit + '&order=' + this.order +
          '&dir=' + this.dir + '&bookmark=' + escape(this.bookmark),
          {'sendMethod': this.sendMethod});

    this.table.setSelection([]);
    var self = this;
    this.query.send(function(response) {self.handleResponse(response)});
  };


  /** Handles the query response after a send returned by the data source. */
  TableQueryWrapper.prototype.handleResponse = function(response) {
    this.currentDataTable = null;
    if (response.isError()) {
      google.visualization.errors.addError(this.container, response.getMessage(),
          response.getDetailedMessage(), {'showInTooltip': false});
    } else {
      this.currentDataTable = response.getDataTable();
      this.tableProperties = this.currentDataTable.getTableProperties();
      //window.console.log('this.tableProperties:', this.tableProperties);
      this.table.draw(this.currentDataTable, this.tableOptions);
    }
  };


  /** Handles a sort event with the given properties. Will page to page=0. */
  TableQueryWrapper.prototype.handleSort = function(properties) {
    var columnIndex = properties['column'];
    var isAscending = properties['ascending'];
    this.tableOptions['sortColumn'] = columnIndex;
    this.tableOptions['sortAscending'] = isAscending;
    // dataTable exists since the user clicked the table.
    var colID = this.currentDataTable.getColumnId(columnIndex);
    this.order = colID;
    this.dir = isAscending ? 'asc' : 'desc';
    this.sortQueryClause = 'order by `' + colID + (!isAscending ? '` desc' : '`');
    // Calls sendAndDraw internally.
    this.handlePage({'page': 0});
  };


  /** Handles a page event with the given properties. */
  TableQueryWrapper.prototype.handlePage = function(properties) {
    var localTableNewPage = properties['page']; // 1, -1 or 0
    var newPage = 0;
    if (localTableNewPage != 0) {
      newPage = this.currentPageIndex + localTableNewPage;
    }
    if (newPage < 0) {
      return;
    }
    this.currentPageIndex = newPage;
    var firstRowNumber = this.tableOptions['firstRowNumber'];
    if (localTableNewPage == 1) {
      this.bookmark = this.tableProperties['next_bookmark'];
      firstRowNumber += this.tableOptions['pageSize'];
    } else {
      this.bookmark = this.tableProperties['prev_bookmark'];
      firstRowNumber -= this.tableOptions['pageSize'];
    }

    // if bookmark is empty, then we're out of data.
    if (!this.bookmark) {
      return;
    }

    this.tableOptions['firstRowNumber'] = firstRowNumber;
    this.sendAndDraw();
  };


  /** Performs a shallow clone of the given object. */
  TableQueryWrapper.clone = function(obj) {
    var newObj = {};
    for (var key in obj) {
      newObj[key] = obj[key];
    }
    return newObj;
  };
  </script>
  <script>

    google.load('visualization', '1', {packages: ['table']});
    google.setOnLoadCallback(initialize);
    var cssClassNames = {
      headerRow: '',
      hoverTableRow: '',
      selectedTableRow: '',
      tableRow: 'rt-row'
    };
    var url = '/user/tests?o=gviz_table_data';
    var sendMethod = 'scriptInjection';
    var options = {
      'pageSize': {{ page_size }},
      'allowHtml': true,
      //'height': '{{ height }}',
      'width': '{{ width }}',
      'alternatingRowStyle': true,
      'cssClassNames': cssClassNames
    };
    var container = document.getElementById('visualization');


    function initialize() {
      if (typeof tableQueryWrapper != 'undefined') {
        tableQueryWrapper.query.abort();
      }
      var tableQueryWrapper = new TableQueryWrapper(url, sendMethod,
          container, options);
      tableQueryWrapper.sendAndDraw();
    }

  </script>

{% endblock %}
