{% extends "base.html" %}

{% block body %}

<div id="visualization"></div>

{% ifequal build "production" %}
  <script src="{{ "browserscope.js"|resource_path }}"></script>
{% else %}
  <script>var CLOSURE_NO_DEPS = true;</script>
  <script src="{{ "dev.js"|resource_path }}"></script>
  <script src="{{ "util.js"|resource_path }}"></script>
{% endifequal %}

  <script src="http://www.google.com/jsapi"></script>
  <script>
    google.load('visualization', '1', {packages: ['table']});
    google.setOnLoadCallback(initialize);

    function initialize() {
      var query = new google.visualization.Query(
          '/user/tests?o=gviz_table_data',
          {'sendMethod': 'scriptInjection'});
      query.send(draw);
    }

    function draw(response) {
      if (response.isError()) {
        alert('Error in query');
      }

      var dataTable = new google.visualization.Table(
          document.getElementById('visualization'));
      var data = response.getDataTable();
      var cssClassNames = {
        headerRow: '',
        hoverTableRow: '',
        selectedTableRow: '',
        tableRow: 'rt-row'
      };
      dataTable.draw(data, {
        'allowHtml': true,
        'height': '{{ height }}',
        'width': '{{ width }}',
        'alternatingRowStyle': true,
        'cssClassNames': cssClassNames
      });
    }
  </script>

{% endblock %}
