{% extends "base.html" %}

{% block body %}
<div id="bs-ua-parser">

  {% if ua_parsed %}
    <h3>
      Parsed result:
    </h3>
    <div>
      <table class="bs-table">
        <thead>
          <tr>
            <th>
              Family
            </th>
            <th>
              v1
            </th>
            <th>
              v2
            </th>
            <th>
              v3
            </th>
            <th>
              Display
            </th>
            <th>
              Browser UA string
            </th>
            {% if js_ua %}
              <th>
                JS UA string
              </th>
            {% endif %}
            {% if js_user_agent_family %}
              <th>
                JS Family Name
              </th>
            {% endif %}
            {% if js_user_agent_v1 %}
              <th>
                JS v1
              </th>
            {% endif %}
            {% if js_user_agent_v2 %}
              <th>
                JS v2
              </th>
            {% endif %}
            {% if js_user_agent_v3 %}
              <th>
                JS v3
              </th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ ua_parsed.family }}
            </td>
            <td>
              {{ ua_parsed.v1 }}
            </td>
            <td>
              {{ ua_parsed.v2 }}
            </td>
            <td>
              {{ ua_parsed.v3 }}
            </td>
            <td>
              {{ ua_parsed.pretty }}
            </td>
            <td class="wrap">
              {{ ua_parsed.string }}
            </td>
            {% if js_ua %}
              <td class="wrap">
                {{ js_ua }}
              </td>
            {% endif %}
            {% if js_user_agent_family %}
              <td>
                {{ js_user_agent_family }}
              </td>
            {% endif %}
            {% if js_user_agent_v1 %}
              <td>
                {{ js_user_agent_v1 }}
              </td>
            {% endif %}
            {% if js_user_agent_v2 %}
              <td>
                {{ js_user_agent_v2 }}
              </td>
            {% endif %}
            {% if js_user_agent_v3 %}
              <td>
                {{ js_user_agent_v3 }}
              </td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
    <a
      href="http://code.google.com/p/browserscope/issues/entry?template=UA Parsing Is Incorrect&comment=I am using: WHAT_BROWSER_YOU_ARE_USING%0D%0A%0D%0ABrowserscope got it wrong - {{ ua_parsed.pretty }} is not {{ ua_parsed.string }}{% if js_ua %} and with js_string {{ js_ua }}{% endif %}{% if js_user_agent_family %} and js_user_agent_family {{ js_user_agent_family }}{% endif %}{% if js_user_agent_v1 %} and js_user_agent_v1 {{ js_user_agent_v1 }}{% endif %}{% if js_user_agent_v2 %} and js_user_agent_v2 {{ js_user_agent_v2 }}{% endif %}{% if js_user_agent_v3 %} and js_user_agent_v3 {{ js_user_agent_v3 }}{% endif %}"
      target="_blank">Is this wrong?</a>
  {% endif %}

  <h2>Test the UserAgent parser</h2>
  <form action="/ua" method="post">
    <label for="ua-string">Browser UserAgent string</label>
    <div>
      <textarea name="ua" id="ua-string"
        cols="50" rows="4">{{ ua }}</textarea>
      {% if ua_string %}
        <em>Automatically filled in w/ your current browser info.</em>
      {% endif %}
    </div>

    <label for="ua-string">Javascript UserAgent string (optional)</label>
    <div>
      <textarea name="js_ua" id="js-ua-string"
        cols="50" rows="4">{% if js_ua %}{{ js_ua }}{% endif %}</textarea>
    </div>

    <label for="ua-string">Javascript UserAgent override (optional)</label>
    <small>Really just for IE Platform Preview at this time</small>
    <div>
      <input name="js_user_agent_family" id="js-ua-family"
        type="text" size="20"
        value="{% if js_user_agent_family %}{{ js_user_agent_family }}{% endif %}">
      <input name="js_user_agent_v1" id="js-ua-v1"
        type="text" size="1"
        value="{% if js_user_agent_v1 %}{{ js_user_agent_v1 }}{% endif %}"
        >.<input
      name="js_user_agent_v2" id="js-ua-v2"
        type="text" size="1"
        value="{% if js_user_agent_v2 %}{{ js_user_agent_v2 }}{% endif %}"
        >.<input
      name="js_user_agent_v3" id="js-ua-v3"
        type="text" size="1"
        value="{% if js_user_agent_v3 %}{{ js_user_agent_v3 }}{% endif %}">
    </div>

    <div class="bs-btn-c">
      <input type="submit" class="bs-btn">
    </div>
  </form>
</div>
{% ifequal build "production" %}
  <script src="{{ "browserscope.js"|resource_path }}"></script>
{% else %}
  <script>var CLOSURE_NO_DEPS = true;</script>
  <script src="{{ "dev.js"|resource_path }}"></script>
  <script src="{{ "util.js"|resource_path }}"></script>
{% endifequal %}


{% if ua_parsed %}
{% else %}
<script>
  // JS UA string.
  var jsUaStringEl = document.getElementById('js-ua-string');
  if (!jsUaStringEl.value) {
    jsUaStringEl.value = navigator.userAgent;
  }
  var noteEl = document.createElement('em');
  noteEl.innerHTML = 'Automatically filled in w/ your current browser ' +
                     'info.';
  jsUaStringEl.parentNode.insertBefore(noteEl, jsUaStringEl.nextSibling);

  // JS UA overrides.
  var jsUa = Util.getJsUaOverrides();
  if (jsUa) {
    var jsUaFamilyEl = document.getElementById('js-ua-family');
    var jsUaV1El = document.getElementById('js-ua-v1');
    var jsUaV2El = document.getElementById('js-ua-v2');
    var jsUaV3El = document.getElementById('js-ua-v3');
    if (!jsUaFamilyEl.value) {
      jsUaFamilyEl.value = jsUa['js_user_agent_family'];
    }
    if (!jsUaV1El.value) {
      jsUaV1El.value = jsUa['js_user_agent_v1'];
    }
    if (!jsUaV2El.value) {
      jsUaV2El.value = jsUa['js_user_agent_v2'];
    }
    if (!jsUaV3El.value) {
      jsUaV3El.value = jsUa['js_user_agent_v3'];
    }
    var noteEl = document.createElement('em');
    noteEl.innerHTML =
        'Automatically filled in w/ your current browser info.';
    jsUaV3El.parentNode.insertBefore(noteEl, jsUaV3El.nextSibling);
  }
</script>
{% endif %}

{% endblock %}
