{% extends "simple.html" %}

{% block body %}
<h1>Cache Resource Redirects (1 of 2)</h1>

<script>
window.onload = function() {
	parent.testframe.location = "cache-resource-redirects2?t={{ epoch }}";
}
</script>

<p>
loading resource redirects to test caching...

<p>
<img src='http://{{ resource_cgi }}?redir=1&type=gif&sleep=4&t={{ epoch }}'>
<link type="text/css" rel="stylesheet" href="http://{{ resource_cgi }}?redir=1&type=css&sleep=4&t={{ epoch }}">
<script src='http://{{ resource_cgi2 }}?redir=1&type=js&sleep=4&t={{ epoch }}' type='text/javascript'></script>

{% endblock %}
