{% extends "simple.html" %}

{% block body %}
<h1>Compression Supported Test</h1>

{% ifequal build "production" %}
  <script src="{{ "browserscope.js"|resource_path }}"></script>
{% else %}
  <script src="{{ "dev.js"|resource_path }}"></script>
  <script src="{{ "util.js"|resource_path }}"></script>
{% endifequal %}

<div id="results">&nbsp;</div>

<script>
function doTest() {
	var bCompresses = 0;
	var resultsEl = document.getElementById('results');

	// Get a static resource.
	//var staticResourceUrl = 'http://{{ resource_cgi }}?t={{ epoch }}&type=html';
	var staticResourceUrl = '/static/base.css?t={{ epoch }}';
	goog.net.XhrIo.send(staticResourceUrl, function(e) {
	  var contentEncoding = this.getResponseHeader('Content-Encoding');
	  if (contentEncoding && contentEncoding.toLowerCase() == 'gzip') {
	    bCompresses = 1;
	  }
    if (bCompresses) {
      resultsEl.innerHTML =
          "Your browser <i>does</i> support compression.";
    } else {
      resultsEl.innerHTML =
          "Your browser does <i>not</i> support compression.";
    }
	  parent.saveResult('gzip', bCompresses);
	});
}

window.onload = doTest;
</script>

<p>
  This test sends a XMLHttpRequest for a static resource that should
  be sent back gzip compressed. We then examine the Content-Encoding
  header of the response to see if is in fact compressed.
</p>

{% endblock %}
