{% extends "simple.html" %}

{% block body %}
<h1>Link Prefetch (2 of 2)</h1>

<div id=results>&nbsp;</div>

<script>
var t_start = Number(new Date());

function doTest() {
	var t_end = Number(new Date());

	if ( (t_end - t_start) < 4000 ) {
		document.getElementById('results').innerHTML = "link prefetch <i>does</i> work";
		parent.saveResult('prefetch', 1);
	}
	else {
		document.getElementById('results').innerHTML = "link prefetch <i>doesn't</i> work";
		parent.saveResult('prefetch', 0);
	}
}

window.onload = doTest;
</script>

<p>
This test determines if the prefetch keyword for the link tag works.
(See the link prefetch description in this <a href="http://developer.mozilla.org/en/Link_prefetching_FAQ">MDC FAQ</a>
and in a working draft of the <a href="http://www.whatwg.org/specs/web-apps/current-work/#link-type10">HTML 5</a> spec.)
Prefetch is an easy way for web developers to download resources they know the user will need later.

<p>
<img src="http://{{ resource_cgi }}?type=gif&sleep=4&prefetch=1&t={{ prevt }}">
<link type="text/css" rel="stylesheet" href="http://{{ resource_cgi }}?type=css&sleep=4&prefetch=1&t={{ prevt }}">
<script src="http://{{ resource_cgi2 }}?type=js&sleep=4&prefetch=1&t={{ prevt }}" type="text/javascript"></script>

{% endblock %}

