{% extends "simple.html" %}

{% block body %}
<h1>Max Connections</h1>

<div id=results>&nbsp;</div>

<script>
var t_start = Number(new Date());

var gUnderTwiceSleep = 0;
function countImage() {
	var t_done = Number(new Date());
	if ( t_done - t_start < {{ sleep }}*1000*2 ) {
		gUnderTwiceSleep++;
	}
	console.log('countImage', this);
}

function doTest() {
	var t_end = Number(new Date());
	document.getElementById('results').innerHTML = gUnderTwiceSleep + " max connections";
	parent.saveResult('maxconn', gUnderTwiceSleep);
}

window.onload = doTest;
</script>

<p>
This page tries to find the maximum number of connections a browser will open.
It does this by opening two images from each of 30 different hostnames (<code>[1-30].{{ resource_cgi_base }}</code>).
Each image takes {{ sleep }} seconds to load.
The most connections that can be measured is 60 (2 images x 30 hostnames)..
Therefore, browsers that support more than 60 open connections will be shown as just 60.

<p id="img-c"></p>
<script>
  // Done w/ Javascript to prevent bots from hitting our servers hard.
  var imgC = document.getElementById('img-c');
  var img = document.createElement('img');
  for (var i = 1; i <= 30; i++) {
    for (var j = 1; j <=2; j++) {
      var clone = img.cloneNode(true);
      clone.id = 'img' + i + '-' + j;
      clone.onload = countImage;
      clone.src = 'http://' + i + '.{{ resource_cgi_base }}?type=gif&' +
          'sleep={{ sleep }}&n=' + j + '&t={{ epoch }}';
      imgC.appendChild(clone);
    }
  }
</script>

{% endblock %}
