{% extends "simple.html" %}

{% block head %}
<script type="text/javascript">
var script_labels = new Array(5);
script_labels["async1"] = "async external script (4 seconds download)";
script_labels["async2"] = "async external script (2 seconds download)";
script_labels["inline"] = "inline script";
script_labels["normal"] = "normal external script";
script_labels["onload"] = "onload event";
var is_async_executed = false;
var is_normal_executed = false;

var script_order = [];
var expected_order = ["inline", "normal", "async2", "async1", "onload"];

function scriptSleepOnload(url) {
	// The resource_cgi scripts call this function.
	if (url.indexOf('script=async1') > 0) {
		script_order.push('async1');
		is_async_executed = true;
    }
	else if (url.indexOf('script=async2') > 0) {
		script_order.push('async2');
		is_async_executed = true;
    }
	else if (url.indexOf('script=normal') > 0) {
		script_order.push('normal');
		is_normal_executed = true;
    }
}

function report(msg, opt_success) {
    document.getElementById('results').innerHTML = msg;
    parent.saveResult('scriptasync', opt_success ? 1 : 0);
}

function doTest() {
    if (!is_async_executed) {
		report('Test error. The async scripts did not run.');
    }
    else if (!is_normal_executed) {
		report('Test error. The normal script did not run.');
    }
	else {
		actual_result = script_order.join(', ');
		expected_result = expected_order.join(', ');
		if (expected_result == actual_result) {
			report("<br>async attribute <i>does</i> work<br><br><br><br><br><br>", true);
		} else {
			msg = "async attribute <i>doesn't</i> work. <b>Actual execution order</b>:<ol>"
			for (var i = 0; i < script_order.length; i++) {
				msg += "<li>" + script_labels[script_order[i]];
			}
			msg += '</ol>';
			report(msg);
		}
    }
}

<!-- onload handler -->
window.onload = function() {
    // Browsers might fire window.onload after async scripts download
    // but before they run, so wait one second.
    script_order.push('onload');
    setTimeout(doTest, 1000);
};
</script>
{% endblock %}

{% block body %}
<h1>Async Attribute for Scripts</h1>

<div id=results><br><br><br><br><br><br><br></div>

<p style="margin-bottom: 0;">
This test determines if your browser supports the HTML5 async attribute for scripts.  
This page uses four scripts with the following <b>source order</b>:
</p>
<ol>
  <li> async external script 1 (takes 4 seconds to download)
  <li> async external script 2 (takes 2 seconds to download)
  <li> inline script
  <li> normal external script (takes 0 seconds to download)
</ol>

<p style="margin-bottom: 0;">
If the async attribute works, the scripts will have the following <b>expected execution order</b>:

<ol>
  <li> inline script - While the browser downloads the async scripts it proceeds to execute the inline script.
  <li> normal external script (0 seconds download) - Even though this script occurs last, it's executed before the async scripts because it downloads first.
  <li> async script (2 seconds download) - Even though this script occurs after the other async script, it's executed first because it downloads earlier. Async scripts should be executed in the order they arrive.
  <li> async script (4 seconds download) - Even though this script occurs first, it's executed last because it's async and has the longest download time.
  <li> onload event - Async scripts should block the onload event.
</ol>

<!-- async external script (takes 4 seconds to download) -->
<script src="http://{{ resource_cgi }}?type=js&script=async1&sleep=4&jsdelay=1&t={{ epoch }}" type="text/javascript" async></script>

<!-- async external script (takes 2 seconds to download) -->
<script src="http://{{ resource_cgi }}?type=js&script=async2&sleep=2&jsdelay=1&t={{ epoch }}" type="text/javascript" async></script>

<!-- inline script -->
<script type="text/javascript">
script_order.push('inline');
</script>

<!-- normal external script -->
<script src="http://{{ resource_cgi2 }}?type=js&script=normal&jsdelay=1&t={{ epoch }}" type="text/javascript"></script>

{% endblock %}

